<ui-accordiums>

    <ui-accordium title="Accordium 1">
        No décimo segundo episódio da série sobre AngularJS, vamos continuar falando sobre a criação de diretivas, dessa vez, abordando
        a propriedade controller.
    </ui-accordium>


    <ui-accordium title="Accordium 2">
        No décimo segundo episódio da série sobre AngularJS, vamos continuar falando sobre a criação de diretivas, dessa vez, abordando
        a propriedade controller.
    </ui-accordium>

    <ui-accordium title="Accordium 3">
        No décimo segundo episódio da série sobre AngularJS, vamos continuar falando sobre a criação de diretivas, dessa vez, abordando
        a propriedade controller.
    </ui-accordium>

</ui-accordiums>